

// .swiper-container {
//   width: 100%;
//   height: 100vh;
// }
// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;

// }

// .menu {
//   min-width: 100px;
//   width: 30%;
//   max-width: 320px;

//   background-color: whitesmoke;
//   color: #fff;

//   .admin__nav {
//     visibility: visible;
//     position: relative;
//     top: 0%;
//     align-items: center;
   
//     .admin__link {
//       width: 100%;
//       text-align: center;

//     .boxes {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     .boxes__img {
//         width: 15vw;
//         height: auto;
//         }
        
//       span {
//         padding: .5rem 0;
//         font-size: 0.7rem;
//         }
//       }
//     }
//   }
// }


// .content {
//   width: 100%;
// }

// .invent {
//   position: relative;
//     width: 100%;
//     height: 100vh;
//     top: 5rem;
//     overflow: scroll;

//     .produk-view {
//       display: flex;
//       flex-flow: column wrap;
//       margin: 3rem 0;
//       align-items: center;
//       justify-content: center;

//       figure {
//         margin: 0 0 3rem;
//         h5 {
//           padding-top: 1rem;
//         }

        .properti {
          display: flex;
          width: 100%;
          height: 50px;
          justify-content: center;
          background: whitesmoke;
          align-items: center;

          &__img {
     
            width: 4vh;
          }
        }

        a {
          text-decoration: none;
          color: $primary-color;
        }
      

      .dc, .price {
        display: block;
      }

      .price {
        padding-bottom: 1rem;
      }
    



// .add__img {
//   width: 4vh;
// }

// .gallery{
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   img {
//     width: 100%;
//     margin: 2rem 0;
//   }
//   text-align: center;
//   height: auto;
// }

// .size__form {
//   display: flex;
//   flex-flow: row wrap;

//   .size__li {
//     margin: 1rem;

//     .size__radio {
//       display: none;
//     }
    
//     label {
//       width: 100px;
//     }

//     .warna {
//       width: 50px;
//       height: 50px;
//     }

//     .red {
//       background: red;
//     }
//     .grey {
//       background: grey;
//     }
//     .purple {
//       background: purple;
//     }
//     .black {
//       background: black;
//     }

//     .yellow  {
//       background: yellow;
//     }

//     .blue {
//       background: blue;
//     }
//     .green {
//       background: green;
//     }

//     .pink {
//       background: pink;
//     }
//   }

// }



// .dashboard__head {
//   display: flex;
//   justify-content: center;
//  flex-flow: column wrap;
//   padding-top: 5rem;

//   h1,h2 {
//     font-size: 1.5rem;
//   } 
// }

// .dashboard__body {
// position: absolute;
// left: 1rem;
// width: 100%;
// height: 100vh;
// overflow: scroll;
// }

// .order__body {
//   position: relative;
//   left: 16rem;
//   top: 4rem;
//   height: 100vh;
//   overflow: scroll;

//   .order__flex {
//             display: flex;
//             flex-flow: row wrap;
//             margin-top: 2rem;
    
//             button {
//                 margin: 0 1rem;
//                 height: 38px;
//             }
//         }
// }


// .menu-button {
//   position: fixed;
//   top: 0px;     
//   left: 6rem;

//   padding: 15px;

//   cursor: pointer;

//   -webkit-transition: .3s;
//   transition: .3s;

//   background-color: whitesmoke;

// }
// .menu-button .bar:nth-of-type(1) {
//   margin-top: 0px;
// }
// .menu-button .bar:nth-of-type(3) {
//   margin-bottom: 0px;
// }

// .bar {
//   position: relative;
//   display: block;

//   width: 50px;
//   height: 5px;

//   margin: 10px auto;
//   background-color: #fff;

//   border-radius: 10px;

//   -webkit-transition: .3s;
//   transition: .3s;
// }

// .menu-button:hover .bar:nth-of-type(1) {
//   -webkit-transform: translateY(1.5px) rotate(-4.5deg);
//   -ms-transform: translateY(1.5px) rotate(-4.5deg);
//   transform: translateY(1.5px) rotate(-4.5deg);
// }
// .menu-button:hover .bar:nth-of-type(2) {
//   opacity: .9;
// }
// .menu-button:hover .bar:nth-of-type(3) {
//   -webkit-transform: translateY(-1.5px) rotate(4.5deg);
//   -ms-transform: translateY(-1.5px) rotate(4.5deg);
//   transform: translateY(-1.5px) rotate(4.5deg);
// }

// .cross .bar:nth-of-type(1) {
//   -webkit-transform: translateY(15px) rotate(-45deg);
//   -ms-transform: translateY(15px) rotate(-45deg);
//   transform: translateY(15px) rotate(-45deg);
// }
// .cross .bar:nth-of-type(2) {
//   opacity: 0;
// }
// .cross .bar:nth-of-type(3) {
//   -webkit-transform: translateY(-15px) rotate(45deg);
//   -ms-transform: translateY(-15px) rotate(45deg);
//   transform: translateY(-15px) rotate(45deg);
// }
// .cross:hover .bar:nth-of-type(1) {
//   -webkit-transform: translateY(13.5px) rotate(-40.5deg);
//   -ms-transform: translateY(13.5px) rotate(-40.5deg);
//   transform: translateY(13.5px) rotate(-40.5deg);
// }
// .cross:hover .bar:nth-of-type(2) {
//   opacity: .1;
// }
// .cross:hover .bar:nth-of-type(3) {
//   -webkit-transform: translateY(-13.5px) rotate(40.5deg);
//   -ms-transform: translateY(-13.5px) rotate(40.5deg);
//   transform: translateY(-13.5px) rotate(40.5deg);
// }

// // .promotion {
// //   position: relative;
// //       flex-direction: column;
// //       left: 0rem;
// //     top: 6rem;
  
// //       &__main {
// //           display: flex;
// //           flex-flow: column wrap;
// //           height: 500px;
// //           overflow: scroll;
// //           justify-content: space-around;
// //           align-items: center;
  
// //           &-change {
// //               width: 45%;
// //               position: relative;
// //               left: 0;
            
// //           }
  
// //           &-preview {
// //               width: 100%;
             
// //               figure {
// //                   text-align: center;
// //               }
  
// //               img {
// //                   width: 33vh;
// //               }
// //           }
  
// //           &-preview2 {
// //               margin-top: 5rem;
// //               display: flex;
// //               flex-wrap: wrap;
             
  
// //               figure {
// //                   margin:  0 1rem;
// //                   img {
// //                       width: 60vh;
// //                   }
// //               }
// //           }
  
// //           &-change2 {
// //               display: flex;
// //               flex-direction: row;
// //               flex-wrap: wrap;
  
// //               .form__promotion {
// //                   width: 40%;
// //                   margin: 0 2rem;
// //               }
// //           }
  
// //       }
// //   }
  
