.sidecart {
    width: 400px;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow: auto !important;
    right: -450px;
    z-index: 9000;
    transition: 0.9s ease;
    background: $secondary-color;
}

// jangan lupa hovernya
.cart__closeBtn {
    width: 7.3vh;
    cursor: pointer;
    padding: 0.8rem 1rem
}

.cart__closeBtn:hover {
    transform: rotate(-180deg);
    @include transition-ease;

}

.cart__head {
    display: flex;
    justify-content: center;
}

.shake:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.peace__img {
    width: 2.5vh;
}

.status-product {
    font-size: 1rem;
    color:$discount-bg;
}

.items {
    display: flex;
    color: $primary-color;
    flex-flow: column wrap;
    text-align: left;
    .productName {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .productType, .size {
        font-size: 1rem;
    }

    .total {
        align-self: flex-end;
    }

}


.li__hr {
    border: 2px solid $primary-color;
    margin: .5rem 1rem .5rem 1.6rem;
    width: 100%;
}

.cart__hr {
    border: 3px solid $discount-bg;
    margin: .5rem 1rem .5rem 1.6rem;
}

.operator {
    display: flex;
    

    .btn__operator, .operator__input {
        margin-top: 2px;
        width: 20px;
        padding: 2px;
        height: auto;
        text-align: center;
    }

    .operator__input {
        width: 50px;
    }
}

.flex-end {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .sub {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    }

    .total__div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: right;
    }
}

.btn__checkout {
    margin: .5rem 1rem .5rem 1.6rem;
    color: $discount-bg;
    width: 350px;
}

.img-fluid {
    width: 10vh;
}

@media(max-width: 400px) {
    .sidecart {
        width: 100vw;
        right: -100vw;
    }
}



.open-cart {
    right: 0px !important;
}

.open-cart:before {
    content: '';
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    background-color: $secondary-color;
    opacity: 0.5;
    z-index: -1;
}

.product-quantity {
    position: relative;
}

.product-quantity:after {
    content: 'x de';
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    margin-left: 2px;
}

.sidecart-price>div {
    margin: auto;
    width: 100%;
    white-space: nowrap;
}