.swiper-container {
    width: 100%;
  height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;

  }

  .rekomendasi__anda {
    padding: 1rem 0;
    h5 {
      margin: 1rem 0;
    }
  }

  // .swiper-wrapper {
  //   max-width: 100vh;
  // }

  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
    --swiper-navigation-color: $diskon-color;
}

.detail {
    &__flex {
        display: flex;
        flex-flow:column;
    }

    .parent__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 845px;
        height: 100%;

    }

    .child__img {
        width: 10vh;
    }
}

.recom {
  display: flex;
  flex-wrap: wrap;
  figure {
      padding: 0 .5rem;
      img {
          width: 10vh;
      }
  }
}

.description {
  .nama-produk {
      font-size: 1.5rem;
  }
}

.modal-body {
  span {
  font-size: 1.5rem;
  }

  .text-danger {
    font-size: 1.5rem;
  }
}

.operator {
&__input {
  border: 1px solid grey;
}
}

// MODAL BELI
.modal {
  z-index: 99999 !important;
}

.data-list {
  display: flex;
  flex-flow: row wrap;

  li{
    span {
      font-size: 1rem;
    }
  }

// END MODAL BELI


@include media-xs {
  .detail {
    .child__img {
      width: 5vh;
    }
  }

  .product__desc {
    padding-top: 1rem;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
  
}

@include media-s {
  .detail {
    .child__img {
      width: 8vh;
    }
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}

@include media-lg { 
  iframe {
    width: 100%;
    height: 400px;
  }
}

@include media-l { 
  iframe {
    width: 100%;
    height: 350px;
  }
  
}

@include media-xl {
  .gallery-thumbs {
    margin-top: .5rem;
    position: relative;
  }
  
  .detail {
    .child__img {
      width: 10vh;
    }
  }

  iframe {
    width: 100%;
    height: 500px;
  }

  .rekomendasi__anda {
    padding-top: 2rem;

    h5 {
      padding-bottom: 2rem;
    }
  }
}
}