.promotion {


    &__main {
        // display: flex;
        // flex-flow: row ;
        // justify-content: space-around;
        // align-items: center;

        &-change {
            width: 100%;
            height: auto;
        }

        &-preview {
            width: 100%;
            height: auto;
            figure {
                text-align: center;
            }

            img {
                width: 55vh;
            }
        }

        &-preview2 {
            display: flex;

            figure {
                margin:  2.5rem;
                img {
                    width: 25vh;
                    height: 20vh;
                }
            }
        }

        &-change2 {
            display: flex;
            flex-wrap: wrap !important;
            justify-content: center;

            .form__promotion {
                width: 100vh;
            }
        }

    }
}

@include media-xs-admin {
    .promotion__main-preview {
       figure {
           img {
               width: 30vh;
           }
       }
    }
}

@include media-xs {
    .promotion__main-preview2 {
        display: flex;
        flex-wrap: wrap !important;
    }

}

@include media-xl { 
    .promotion__main-preview2 {
        display: flex;
        flex-wrap: nowrap !important;
    }
    
}